<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <title>Detalhe da Atividade</title>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>

    <header class="navbar">
        <h2>Eco-Escolas</h2>
    </header>

    <section style="padding:20px;">
        <h1 id="title"></h1>
        <p id="date"></p>
        <p id="description"></p>

        <button onclick="joinActivity()">Participar</button>
    </section>

    <script src="../js/activity-detail.js"></script>
</body>

</html>