<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <title>Eco-Escolas</title>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>

    <header class="navbar">
        <h2>Eco-Escolas</h2>
        <nav>
            <a href="homepage.html">Atividades</a>
            <a href="dashboard.html">Dashboard</a>
        </nav>
    </header>

    <section class="hero">
        <h1>Bem-vindo ao Eco-Escolas 🌱</h1>
        <p>Participa nas atividades sustentáveis</p>
    </section>

    <section id="activities-container" class="activities">
        <!-- JS vai injetar aqui -->
    </section>

    <script type="module" src="../js/controller.js"></script>
</body>

</html>